/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 30.7.2014, 15:11:14
    Author     : Lukas
*/

#prizeImage {
    position: absolute;
    top: 0px;
    right: 0px;
    z-index: -5;
}

#registerForm {
    position: absolute;
    top: 280px;
    left: 0px;
    z-index: 10;
}

#infoBox {
    position: absolute;
    top: 329px;
    left: 345px;
    width: 400px;
    height: 154px;
    padding: 0px 20px;
    background: brown;
}

#pressLikeImage {
    position: relative;
    right: 0;
    top: 280px;
    float: right;
}

.formImage {
    position: absolute;
    top: 0px;
    left: 0px;
    z-index: -5;
}

.formTable {
    margin-left: 40px;
    padding: 18px 0px 0px 0px;
}

#acceptRulesRow {
    padding: 5px 0px 5px 20px;
    margin-left: 40px;
}

#submitRow {
    height: 50px;
    margin-left: 40px;
    padding: 0px 0px 0px 0px;
}

.returningLink {
    font-weight: bold;
    color: blue;
    font-size: 11px;
    display: block;
    padding: 6px 0px 0px 0px;
    width: 150px;
}

#returningText {
    display: inline-block;
    font-size: 14px;
    /*padding*/
    margin: 35px 0px 0px 40px;
    width: 300px;
    /*background: yellowgreen;*/
}

.inputSubmit {
    border: none;
    /*cursor: pointer;*/
    position: absolute;
    right: 0;
}

.inputText {
    background: url("#{resource['contest/layouts/default/input-bg.png']}") no-repeat;
    padding: 6px 10px;
    width: 180px;
    margin-right: 20px;
    font-weight: bold;
}

.error {
    border-style: solid;
    border-color: red;
    
}

.inputLabel {
    width: 75px;
    display: inline-block;
    color: #575656;
    font-weight: bold;
    text-transform: uppercase;
}
